<header class="d-flex justify-content-center p-20">
    <div class="content flex-fill d-flex justify-content-between align-items-center">
        <a href="{{path('app_home')}}" class="header-logo">
            <img src="{{asset('images/logo.svg')}}" aria-label="Retour à l'accueil" title="Retour à l'accueil" alt="">
        </a>
        <div class="header-search p-5 flex-fill" role="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text">
        </div>
        {%- if is_granted("IS_AUTHENTICATED_FULLY") -%}
            <div class="d-flex align-items-center">
                <a href=""><img src="{{ app.user.picture }}" alt="" class="avatar avatar-lg mr-20"></a>
                <a href="{{ path("logout") }}" class="btn btn-primary">Deconnexion</a>
            </div>
        {% else %}
            <div>
                <a href="{{ path("signup") }}" class="btn btn-primary mr-10">Inscription</a>
                <a href="{{ path("login") }}" class="btn btn-primary-stroke">Connexion</a>
            </div>
        {%- endif -%}
    </div>
</header>
