<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c685d2b770.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <script defer src="{{asset('js/index.js')}}"></script>
    </head>

    <body class="d-flex flex-column">

    {{include("partials/_header.html.twig")}}

    <div class="app-container flex-fill d-flex content py-50">

        {{include("partials/_sidebar.html.twig")}}

        <main class="app-content flex-fill">
            {% block body %}{% endblock %}
        </main>
    </div>

    {{include("partials/_footer.html.twig")}}
    
    </body>
</html>
